<!DOCTYPE html>
{% load static %}
{% load highlightjs %}
<html lang="en">
<head>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link href="{% highlightjs_css_url %}" rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/index2.css" rel="stylesheet" type="text/css">
</head>

<body class="bdy">
  <nav>
    <h1># python is amazing</h1>
  </nav>
  <div id="co">
      {% for i,j,k,l in a %}
         <div id="outer">
             <h1 id="title" class="text">{{j}}</h1>
             <h2 id="name" class="text">Added by {{i}}</h2>
             <pre>
                 <code id="codebox" wrap = "off" class="python">{{k}}</code>
                 <h2 unselectable = "on" id="like" onclick = "change()">🤍</h2><h2 unselectable = "on" id="copy" onclick="copy()">📋</h2>
             </pre>
             <br>
             <p id="discription" class="text">{{l}}</p>
         </div>
      {% endfor %}
  </div>
  <hr>
  <div id="button">
    <button class="btn" type="button" onclick="window.location.href = '/SignIn' "> sign in </button>
    <button class="btn" type="button" onclick="window.location.href = '/SignUp'">sign up</button>
  </div>
</body>
</html>