{% load static %}
{% load highlightjs %}
<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/SignUp.css">
  </link>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link href="{% highlightjs_css_url %}" rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head> 
 <body id="layout"> 
  <header> 
   <h1>Sign up</h1> 
  </header> 
  <main> 
   <hr>
   <div id="contain">
    <form action="/postSignUp" method="post">
      {% csrf_token %}
      <br>
      <textarea wrap="off" placeholder="name" name="username"></textarea> 
      <textarea id="I'd" wrap="off" placeholder="email address" name="email id"></textarea> 
      <textarea id="pas" wrap="off" placeholder="password" name="password" type="password"></textarea> 
      <textarea id="pas" type="password" wrap="off" placeholder="confirm password" name="password"></textarea> 
      <br> 
        <button type="submit">submit</button> 
    </form>
  </div>
  </main> 
 
<script type="text/javascript" id="dcoder_script">if (isAlphaNumeric(x) == true){
  document.getElementById("pas").style.boxShadow = "10px 20px 30px blue";
}</script></body></html>