<!doctype html>
{% load static %}
{% load highlightjs %}
<html>
<head>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link href="{% highlightjs_css_url %}" rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/SignIn.css" rel="stylesheet" type="text/css">
  </link>
</head>
<body id="layout">
   {% if msg %} 
  <script>alert('{{msg}}');</script> {% endif %} 
  <header> 
   <h1>Sign in</h1> 
  </header> 
  <main> 
   <hr>
   <div id="contain">
      <form action="/change" method="post">
        {% csrf_token %}
        <br>
        <textarea wrap="off" placeholder="email address" name="email id"></textarea> 
        <textarea id="pas" wrap="off" placeholder="password" name="password" type="password"></textarea>
        <br>
        <button type="submit">submit</button> 
      </form>
   </div>
  </main> 
  <footer> 
  </footer> 
</body>
</html>