nav{
  box-shadow: 0 0 1px #065933,0 2px 8px #50CA75,0px 1px 5px #44FFAB;
  width: 90%;
  text-align: center;
  height: 60px;
  margin: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
#head{
  font-size: 20px;
  padding: 6%;
  color: #0F845F;
}
.plus{
  width:20%;
  height: 70px;
  float: right;
  background:
    linear-gradient(#0F845F,#0F845F),
    linear-gradient(#0F845F,#0F845F),
    #fff;
  background-position:center;
  background-size: 40% 5px,5px 40%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
  border-radius: 30px;
  margin: 5%;
  box-shadow:  0 0 1px #065933,0 2px 8px #50CA75,0px 1px 5px #44FFAB;
}
#pro{
  width: 100%;
  height: 48px;
}
.profile{
  width: 15%;
  height: 48px;
  margin: 5%;
  float: right;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  background: #ACFFEDCF;
}
@keyframes enlarge {
}
body{
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF)) fixed;
}
@media screen and (min-width: 720px){
  #head{
    padding: 2%;
  }
  .profile{
    width: 8%;
    height: 68px;
    margin: 3%;
  }
  .plus{
    width: 7.5%;
    margin: 3%;
  }
  #pro{
    width: 100%;
    height: 70px;
  }
}