nav{
  box-shadow: 0 0 1px #065933,0 2px 8px #8500EE,0px 1px 4px #0078FF;;
  width: 90%;
  text-align: center;
  height: 60px;
  margin: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
h1{
  padding: 5%;
  color: #0F845F;
}
body{
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF)) fixed;
}
.btn{
  opacity: 90%;
  color : white ;
  font-family: fantasy;
  font-size : 20px;
  border : 0.01px white ;
  width : 30% ;
  height : 60px;
  background: #41004C;
  margin : 5%;
  border-top-right-radius : 80px ;
  border-top-left-radius : 80px ;
  border-bottom-right-radius : 80px ;
  border-bottom-left-radius : 80px ;
}
hr{
  border: 0.3px solid #10A65D;
}
#button{
  text-align: center;
}
@media only screen and (min-width: 720px){
  h1{
    padding: 2%;
  }
  .btn{
    width: 12%;
  }
}