nav{
  box-shadow: 0 0 1px #065933,0 2px 8px #8500EE,0px 1px 4px #0078FF;
  width: 90%;
  text-align: center;
  height: 60px;
  margin: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
#head{
  font-size: 20px;
  padding: 6%;
  color: #41004C;
}
.plus{
  width:20%;
  height: 70px;
  float: right;
  background:
    linear-gradient(#41004C,#41004C),
    linear-gradient(#41004C,#41004C),
    #fff;
  background-position:center;
  background-size: 40% 5px,5px 40%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
  border-radius: 30px;
  margin: 5%;
  box-shadow: 0 0 1px #065933,0 2px 8px #8500EE,0px 1px 5px #0078FF;
}
#pro{
  width: 100%;
  height: 48px;
}
.profile{
  width: 15%;
  height: 48px;
  margin: 5%;
  float: right;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  background: #ACFFEDCF;
}
@keyframes enlarge {
}
@media screen and (min-width: 720px){
  #head{
    padding: 2%;
  }
  .profile{
    width: 8%;
    height: 68px;
    margin: 3%;
  }
  .plus{
    width: 7.5%;
    margin: 3%;
  }
  #pro{
    width: 100%;
    height: 70px;
  }
}
#title{
    font-family: Verdana;
    margin-left: 5%;
    color: #41004C;
}
#name{
    font-family: cursive;
    margin: 5%;
}
#discription{
    font-style: Courier;
    margin: 5%;
}
#codebox{
    margin: 3%;
    margin-bottom: 0%;
    border: 4px solid #00E3FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#outer{
    overflow: hidden;
    min-height: 300px;
    margin: 2%;
    box-shadow: 0 0 1px #065933,0 2px 8px #8500EE,0px 1px 5px #0078FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.icon{
    margin: 0.01%;
    width: 99%;
    margin-top: 0%;
    display: inline-block;
}
#like{
    float: left;
}
#copy{
    float : right;
}
#line{
    width: 12%;
    display: flex;
}