h1{
  font-size : 50px;
  padding-left : 25px;
  color : #41004C;
  margin : 5%;
  border-color : linear-gradient(red,blue);
}
textarea{
  width: 90%;
  height: 60px;
  padding: 14px;
  outline: none;
  margin : 5%;
  font-size: 20px;
  box-sizing: border-box;
  box-shadow : 0 0 1px #065933,0 2px 8px #8500EE,0px 1px 4px #0078FF;0
  border: 5px solid transparent;
  -moz-border-radius : 20px;
  -webkit-border-radius : 20px;
  border-radius : 20px;
  resize: none;
}
h2{
  font-size : 60px;
  margin : 5%;
}
form{
  margin : 5%;
}
button{
  width : 40%;
  height : 60px;
  font-size: 25px;
  opacity: 90%;
  margin : 5%;
  color: white;
  font-family: fantasy;
  outline: none;
  border-top-right-radius : 80px;
  border-top-left-radius : 80px;
  border-bottom-right-radius : 80px;
  border-bottom-left-radius : 80px;
  border: 0;
  background : #41004C;
}
body{
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF)) fixed;
}
hr{
  border : 2px solid  #41004C;
  border-radius : 30px;
}
#pas{
  -webkit-text-security : circle ;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div {
    width: 100vw;
    height: 100vh;
}
@media only screen and (min-width: 720px){
  h1{
    margin: 1%;
    font-size: 30px;
    text-align: center;
  }
  button{
    width: 20%;
  }
  textarea{
    margin: 2%;
    width: 60%;
  }
  #contain{
    text-align: center;
  }
}