<!DOCTYPE html>
{% load highlightjs %}
<html>
<head>
    <script src="//code.jquery.com/jquery.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script><script>hljs.initHighlightingOnLoad();</script>
    <link href="{% highlightjs_css_url %}" rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="form.css"></link>
    <title></title>
</head>

<body>
  <div>
    <pre>
    <code class="python">for i in range:
    print ('hello world')</code>
    </pre>
  </div>
</body>
</html>